body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(91, 122, 148);
  color:white;
  height: 56px
}

.nav-links {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  height: 83.8vh;
  background-color: aqua;
  color: aliceblue;
}
